<% layout('./layouts/boilerplate') -%>
<form
  method="post"
  action="/<%=room._id %>?_method=PUT"
  class="row offset-lg-3 col-lg-6 g-3 p-5 mt-auto border border-secondary rounded bg-light needs-validation"
  novalidate>
  <h2 class="text-center h2">Update room details</h2>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="roomTitle"
      name="room[title]"
      value="<%= room.title %>"
      required />
    <label for="roomTitle" class="form-label required">Title</label>
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="area"
      name="room[area]"
      value="<%= room.area %>"
      required />
    <label for="area" class="form-label required">Area</label>
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="form-floating">
    <select
      class="form-select"
      id="category"
      aria-label="Floating label select example"
      name="room[category]"
      value="<%= room.category %>"
      required>
      <option value="non-commercial" name="room[category]">
        non-commercial
      </option>
      <option value="commercial" name="room[category]">commercial</option>
    </select>
    <label for="language">Category</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="number"
      class="form-control"
      id="price"
      value="<%= room.price %>"
      name="room[price]"
      required />
    <label for="price" class="form-label required">Price</label>
    <div class="invalid-feedback">Please provide a valid price.</div>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="city"
      name="room[city]"
      value="<%= room.city %>"
      required />
    <label for="city" class="form-label required">City</label>
    <div class="invalid-feedback">Please provide a valid city.</div>
  </div>
  <div class="form-floating">
    <input
      type="text"
      class="form-control"
      id="state"
      name="room[state]"
      value="<%= room.state %>"
      required />
    <label for="state" class="required">State</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="zipCode"
      name="room[zipCode]"
      value="<%= room.zipCode %>"
      required />
    <label for="zip" class="form-label required">Zip</label>
    <div class="invalid-feedback">Please provide a valid zip.</div>
  </div>
  <div class="mb-3">
    <label class="form-label required" for="image">Image</label>
    <input
      type="file"
      class="form-control"
      id="image"
      name="image"
      value="<%= room.image %>" />
  </div>
  <div class="form-floating">
    <textarea
      class="form-control"
      id="description"
      name="room[description]"
      value="<%= room.description %>"
      style="height: 100px"></textarea>
    <label for="description">Description</label>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>
